# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Виртуальное окружение
venv/
env/
.venv/

# Логи и файлы базы данных
*.log
*.sqlite3

# Django
*.pot
*.pyc
*.mo
*.log
*.db
media/
staticfiles/

# Файлы IDE
.vscode/
*.idea/

# Сборки и пакеты
*.egg-info/
dist/
build/

# Секреты
.env