{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" href="{% static 'css/chat_detail.css' %}">
</head>
<body>

<div class="chat-container">

    <div class="messages">
        
        {% for message in messages %}
            {% if message.sender == request.user %}
                <div class="message my-message">
                    <div class="text">{{ message.text }}</div>
                    <div class="time">{{ message.created_at|date:"d.m.Y h:i" }}</div>
                </div>

            {% else %}
                <div class="message their-message">
                    <div class="text">{{ message.text }}</div>
                    <div class="time">{{ message.created_at|date:"d.m.Y h:i"  }}</div>
                </div>

            {% endif %}

        {% endfor %}
           
    </div>

    <form method="post" class="message-form" >
        {% csrf_token %}
        <textarea name="text" placeholder="Введите сообщение..."></textarea>
        <button type="submit">Отправить</button>
    </form>

</div>

</body>
</html>
