{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Поиск домашних заданий</title>
    <link rel="stylesheet" href="{% static "css/search.css" %}">
</head>
<body>
    <br>
    
    <a href="{% url 'users:profile' %}" class="back-link">&larr;Назад в профиль</a>
    <h1>Поиск домашних заданий</h1>

    <form method="get" class="search-form">
        <input type="text" name="query" placeholder="Введите ключевое слово" value="{{ request.GET.query }}">
        
        <select name="subject">
            
            <option value="" {% if not request.GET.subject %}selected{% endif %}>Все предметы</option>
        
            <!-- Остальные предметы -->
            {% for sub in subjects %}
                <option value="{{ sub }}" {% if request.GET.subject == sub %}selected{% endif %}>{{ sub }}</option>
            {% endfor %}
        </select>
        <button type="submit">Найти</button>
    </form>

    <ul class="orders-list">
        
        {% for order in orders %}
            <li>

                <a href="{% url 'homework:order_detail' order.id%}" class="order-card">
                    <strong>{{ order.name }}</strong><br>
                    {{ order.subject }}<br>
                    <span class="price">{{ order.price }} coins</span>
            
                </a>
            </li>

        {% empty %}
            <li> Заказов нет! </li>
        {% endfor %}
    </ul>


        
        
    
</body>
</html>