.ErrorWindowContainer {
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%); /* Базовая центровка */
    z-index: 10001;
    
    width: 350px;
    max-width: calc(100vw - 40px);
    background-color: #1a1a1a; /* Глубокий серый */
    color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333; /* Тонкая рамка */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
 
    animation: slideIn 0.3s ease-out forwards;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.header h3 {
    margin: 0;
    font-size: 16px;
    color: #ff5f5f; /* Неяркий красный для заголовка */
}
.header span {
    cursor: pointer;
}
.closeBtn {
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.closeBtn:hover {
    color: #fff;
}

.ErrorMessage {
    display: block;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 18px;
    line-height: 1.4;
}
.hint {
    margin-bottom: 10px;
}
.refreshBtn,.FeedBackBtn {
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
}
 
.refreshBtn:hover, .FeedBackBtn:hover {
    background-color: #444;
}

.FeedBackBtn {
    margin-top: 10px;
}

@keyframes slideIn { 
    0% {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}